apiVersion: v1
kind: Service
metadata:
  name: devops-app-service
  namespace: devops-app
spec:
  selector:
    app: devops-app
  ports:
    - protocol: TCP
      port: 80
      targetPort: 3000
  type: NodePort
